# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
publish/

# Archives & plugin packages
*.jpl
*.zip

# Operating System files
.DS_Store
Thumbs.db

# IDE and Editor folders
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
